juliacall==0.9.20
matplotlib==3.7.3
mpi4py==3.1.6
numba==0.60.0
numpy==2.0.1
pytools==2024.1.11
pyzfp==0.5.5
scikit_learn==1.0.2
scipy==1.14.0
stocaching==0.2.1
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.1
